{% extends "base.html" %}
{% block labTable %}
<div class="container">
  <h1>About This Project</h1>
  <p>This project was created for <span class="highlight">learning and testing purposes</span>.</p>
  <p>Covered in this project:</p>
  <ul>
    <li><span class="highlight">Python + Flask + MongoDB</span></li>
    <li>Using Python as backend to fetch and update data on MongoDB database hosted on MongoDB cloud cluster</li>
    <li>Using Flask framework to format the design and fill it with the data provided by Python</li>
  </ul>
</div>
{% endblock %}