{% extends "base.html" %}
{% block labTable %}
<div id="LAB{{ lab }}" class="tabcontent">
  <div id="TIME" class="flex-container">
		<div>Time</div>
    {% for display_time in display_times %}
		<div>{{ display_time }}</div>
    {% endfor %}
	</div>
  {% for day in days %}
  <div id="{{ day }}" class="flex-container">
    <div>{{ day }}</div>
    {% for i in range(display_times|length) %}
    <div>{{ schedule[day][times[i]] }}</div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
