</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>this page is for testing scripts</title>
  </head>
  <body>
    <div id="container" class="container_class">

    </div>
    <script type="text/javascript">

      var myJSON = '{"name":"John", "age":31, "city":"New York"}';
      var myObj = JSON.parse(myJSON);
      myJSON = JSON.stringify(myObj);
      localStorage.setItem("testJSON", myJSON);
      document.getElementById("container").innerHTML = myObj.name;
    </script>
  </body>
</html>
